@font-face {
  font-family: 'DejaVu Mono';
  src: url('./assets/DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*::selection {
  background-color: blue;
  color: whitesmoke;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
  color: whitesmoke;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  font-family: "DejaVu Mono", serif;
  font-size: 12pt;
  /* font-weight: 100; */
}

img {
  max-width: 50%;
  margin-bottom: 15px;
}

p {
  hyphens:auto;
}

summary {
  /* font-style: italic; */
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
}

details {
  /* margin-bottom: 20px; */
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}

details summary::before {
  content: "+ ";
}

details[open] summary::before {
  content: "- ";
}

ul {
  /* list-style: none; */
  /* color: blue; */
  line-height: 1.5;
}

a {
  color: whitesmoke;
  background-color: blue;
  text-decoration: none;
}