@font-face {
  font-family: 'DejaVu Mono';
  src: url('./assets/DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*::selection {
  background-color: #e3ed55;
  color: black;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
  color: whitesmoke;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: "DejaVu Mono", serif;
  font-size: 12pt;
  /* font-weight: 100; */
}

img {
  max-width: 50%;
  margin-bottom: 5px;
}

p {
  hyphens:auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

ul {
  line-height: 1.5;
}

a {
  color: #00aa93;
}

a:hover {
  color: #e3ed55;
}